/* ====================
共通クラス
 ==================== */
 body {
  color: #082b48;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
 }
 
 .container {
   max-width: 980px;
   width: 90%;
   margin: 0 auto;
 }

 h1 {
  font-size: 24px;
  font-weight: bold;
 }

 img {
  width: 100%;
  height: auto;
 }

 a {
  text-decoration: none;
  color: #082b48;
 }

 a:hover {
  opacity: 0.7;
 }

 .clear::after {
  content: "";
  clear: both;
  display: block;
 }


 /* ====================
header
 ==================== */
.header-left {
  float: left;
  margin-top: 20px;
}

.header-right {
  float: right;
  margin-top: 20px;
}

.header-parent {
  display: flex;
}

.header-nav-item {
  margin-left: 50px;
}

.header-nav-item a {
  line-height: 36px;
  font-weight: bold;
}