/* ====================
共通クラス
==================== */
 body {
  color: #082b48;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
 }

 .container {
   width: 90%;
   max-width: 980px;
   margin: 0 auto;
 }

 h1 {
  font-size: 24px;
  font-weight: bold;
 }

 img {
  width: 100%;
  height: auto;
 }

 a {
  text-decoration: none;
  color: #082b48;
 }

 a:hover {
  opacity: 0.7;
 }

 .btn:hover {
  opacity: 0.7;
  cursor: pointer;
 }

 .clear::after {
  content: "";
  clear: both;
  display: block;
 }

 .section {
  padding: 60px 0;
 }

 .section-title {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
}

/* ====================
header
==================== */
header {
  padding: 20px 0;
}

.header-left {
  float: left;
  margin-top: 20px;
}

.header-right {
  float: right;
  margin-top: 20px;
}

.header-parent {
  display: flex;
}

.header-nav-item {
  margin-left: 50px;
}

.header-nav-item a {
  line-height: 36px;
  font-weight: bold;
}

/* ====================
top
==================== */
.top {
  background-image: url(../img/main-vsual-nontitle.png);
  background-size: cover;
}

.top-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.top-subtitle {
  text-align: center;
  font-size: 18px;
}

/* ====================
about
==================== */
.section-parent {
  display: flex;
  justify-content: space-around;
}

.img-item {
  width: 48%;
  margin-right: 20px;
}

/* ====================
course
==================== */
.course {
  background-color: #e3fcf4;
}
.course-parent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.course-item {
  width: 30%;
}

.course-item p {
  text-align: center;
}

/* ====================
contact
==================== */

.section-text {
  text-align: center;
  margin-bottom: 20px;
}

input[type="email"] {
  display: block;
  border: 3px solid #d8d8d8;
  font-size: 18px;
  padding: 15px;
  border-radius: 999px;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.btn {
  display: block;
  margin: 0 auto;
  padding: 20px 60px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-weight: bold;
  color: #fff;
  font-size: 24px;
}

.btn-register {
  background-color: #ec6d64;
}

/* ====================
footer
==================== */
footer {
  background-color: #082b48;
  padding: 20px 0;
}

.copyright {
  float: right;
  color: #fff;
}

/* ====================
レスポンシブ対応
==================== */
@media screen and (max-width:767px) {
  .section-title {
    font-size: 24px;
  }

  .header-left {
    float: none;
  }

  .header-right {
    float: none;
  }

  .header-title {
    text-align: center;
  }

  .header-parent {
    flex-wrap: wrap;

  }

  .header-nav-item {
    margin-left: 10px;
  }

  .top-title {
    font-size: 18px;
  }

  .top-subtitle {
    font-size: 14px;
  }

  .section-parent {
    display: block;
  }

  .img-item {
    width: 100%;
    margin-bottom: 20px;
    margin-right: initial;
  }

  .course-parent {
    display: block;
  }

  .course-item {
    width: 100%;
  }

  input[type="email"] {
    max-width: 100%;
  }

  .copyright {
    float: none;
    text-align: center;
    font-size: 10px;
  }
}